<%- include("partials/header") -%>

<h1>Home</h1>
<div>
<p><%=homeStartingContent%></p>
<% postContent.forEach(post => {%>
<div class="item">
    <h1>  <%=post.postTitle%> </h1>
    <p>
     <%= post.postBlog.substring(0, 99)%>(...)<a href="/posts/<%=post.postTitle%>">Read More</a>
    </p>
</div>
<% }) %>
</div>

<%- include("partials/footer") -%>
